[Desktop Entry]
Name=X (Twitter)
Comment=X Social Platform
Exec=chromium --app=https://x.com --class=webapp-twitter
Icon=PLACEHOLDER_ICON_DIR/twitter.png
Type=Application
Categories=Network;WebApp;
Keywords=twitter;social;x;
