[Desktop Entry]
Name=Google Calendar
Comment=Google Calendar
Exec=chromium --app=https://calendar.google.com --class=webapp-gcalendar
Icon=PLACEHOLDER_ICON_DIR/gcalendar.png
Type=Application
Categories=Network;WebApp;
Keywords=calendar;schedule;google;
