[Desktop Entry]
Name=Gmail
Comment=Google Mail
Exec=xdg-open https://mail.google.com
Icon=PLACEHOLDER_ICON_DIR/gmail.png
Type=Application
Categories=Network;WebApp;
Keywords=email;mail;google;
