[Desktop Entry]
Name=Google Docs
Comment=Google Documents
Exec=chromium --app=https://docs.google.com --class=webapp-gdocs
Icon=PLACEHOLDER_ICON_DIR/gdocs.png
Type=Application
Categories=Network;WebApp;
Keywords=docs;documents;google;word;
