[Desktop Entry]
Name=Google Maps
Comment=Google Maps
Exec=chromium --app=https://maps.google.com --class=webapp-gmaps
Icon=PLACEHOLDER_ICON_DIR/gmaps.png
Type=Application
Categories=Network;WebApp;
Keywords=maps;navigation;directions;google;
