[Desktop Entry]
Name=Telegram
Comment=Telegram Messenger
Exec=chromium --app=https://web.telegram.org --class=webapp-telegram
Icon=PLACEHOLDER_ICON_DIR/telegram.png
Type=Application
Categories=Network;WebApp;
Keywords=telegram;chat;messaging;
