[Desktop Entry]
Name=Telegram
Comment=Telegram Messenger
Exec=xdg-open https://web.telegram.org
Icon=web-browser
Type=Application
Categories=Network;WebApp;
Keywords=telegram;chat;messaging;
