[Desktop Entry]
Name=YouTube
Comment=YouTube Video Platform
Exec=chromium --app=https://youtube.com --class=webapp-youtube
Icon=PLACEHOLDER_ICON_DIR/youtube.png
Type=Application
Categories=Network;WebApp;
Keywords=video;youtube;streaming;
