[Desktop Entry]
Name=Reddit
Comment=Reddit
Exec=chromium --app=https://reddit.com --class=webapp-reddit
Icon=PLACEHOLDER_ICON_DIR/reddit.png
Type=Application
Categories=Network;WebApp;
Keywords=reddit;social;forum;
