[Desktop Entry]
Name=ChatGPT
Comment=OpenAI ChatGPT
Exec=chromium --app=https://chatgpt.com --class=webapp-chatgpt
Icon=PLACEHOLDER_ICON_DIR/chatgpt.png
Type=Application
Categories=Network;WebApp;
Keywords=ai;chat;openai;gpt;
