[Desktop Entry]
Name=EFSC Canvas
Comment=Eastern Florida State College Canvas LMS
Exec=chromium --app=https://easternflorida.instructure.com --class=webapp-canvas
Icon=PLACEHOLDER_ICON_DIR/canvas.png
Type=Application
Categories=Network;WebApp;
Keywords=canvas;school;efsc;lms;
