[Desktop Entry]
Name=Google Drive
Comment=Google Cloud Storage
Exec=chromium --app=https://drive.google.com --class=webapp-gdrive
Icon=PLACEHOLDER_ICON_DIR/gdrive.png
Type=Application
Categories=Network;WebApp;
Keywords=drive;storage;files;google;
