[Desktop Entry]
Name=Gmail
Comment=Google Mail
Exec=chromium --app=https://mail.google.com --class=webapp-gmail
Icon=PLACEHOLDER_ICON_DIR/gmail.png
Type=Application
Categories=Network;WebApp;
Keywords=email;mail;google;
