[Desktop Entry]
Name=Google Drive
Comment=Google Cloud Storage
Exec=xdg-open https://drive.google.com
Icon=web-browser
Type=Application
Categories=Network;WebApp;
Keywords=drive;storage;files;google;
